doctype html
html(lang="en")
  head
    title Array Cardio Day 1
    link(rel="stylesheet", type="text/css", href="styles.css")

  body
    h1 Open the console to see the results of the challenge
    script(src="scripts.js")